*~
*.dll
*.hex
*.dfu
*.exe
*.lst
*.o
*.d
!init.d
*.obj
*.vrx
*.pyc
*.tlog
*.tlog.raw
*.vbrain
*.zip
.*.swo
.*.swp
.built
.context
.cproject
.depend
.directory
.DS_Store
.metadata/
.project
.settings/
.autotools
.vagrant
.tags
.tags_sorted_by_file
/.lock-waf*
/.waf*
/tmp/*
tags
Thumbs.db
cscope.in.out
cscope.out
cscope.po.out
cscope.files
*.map
GPATH
GRTAGS
GTAGS
.Xil/
